.container {
    width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Arial;
}
.page-header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #445161;
    color: #fff;
    padding: 50px;
    box-sizing: border-box;
}
.page-header::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.page-header-wrp {
    box-sizing: border-box;
}
.page-header-title {
    margin: 0 0 50px 0;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
}
.page-header-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}
.page-header-list-item {
    position: relative;
    padding: 0 0 0 30px;
    box-sizing: border-box;
}
.page-header-list-item:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/tick.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: 0;
}
.page-header-img {
    display: block;
    background-color: #fff;
    float: right;
}
.about {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.about::after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.about-wrp {
    width: 65%;
    box-sizing: border-box;
}
.about-titl {
    font-size: 40px;
    font-weight: 400;
    margin: 0 0 30px 0;
}
.about-text {
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}
.about-text:last-child {
    margin: 0;
}
.about-img {
    display: block;
    width: 400px;
    background-color: #445161;
}
.dignity {
    width: 100%;
    padding: 50px 50px 10px 50px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dignity-title {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    display: block;
    margin: 0 0 30px 0;
    text-align: center;
}
.dignity-item-wrp {
    margin: 0;
    display: flex;
}
.dignity-item {
    width: 49%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.dignity-item-text {
    width: 100%;
    position: relative;
    margin: 0 0 40px 0;
    padding: 0 0 0 40px;
    box-sizing: border-box;
}
.dignity-item-text:before {
    content: "+";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #445161;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.padding-site {
    padding: 50px;
    box-sizing: border-box;
}
.screenshots {
    width: 100%;
    padding: 50px 50px 30px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.screenshots-title {
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    box-sizing: border-box;
}
.screenshots-item {
    width: 48%;
    min-height: 100px;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    display: flex;
}
.screenshots-item-photo {
    display: block;
    margin: 0 15px 0 0;
    background-color: #445161;
}
.screenshots-item-wrp {
    box-sizing: border-box;
}
.screenshots-item-titl {
    margin: 0 0 15px 0;
    font-size: 20px;
    font-weight: 400;
}
.screenshots-item-txt {
    margin: 0;
}
.review {
    width: 100%;
    padding: 50px 50px 30px 50px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.review-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.review-item {
    width: 48%;
    margin: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    box-sizing: border-box;
}
.review-item-img {
    width: 76px;
    height: 76px;
    background-color: #445161;
    border-radius: 50%;
}
.review-item-txt {
    width: 470px;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: justify;
    background-color: #ccc;
    position: relative;
}
.review-item-txt:before {
    content: "";
    display: block;
    border: 20px solid transparent;
    border-right: 20px solid #ccc;
    position: absolute;
    top: 35px;
    left: -30px;
}
.review-item-author {
    display: block;
    margin: 5px 0 0 0;
    color: #445161;
}
.buy {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}
.buy-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}
.buy-item {
    padding: 0 0 10px 0;
    box-sizing: border-box;
    border: 2px solid #445161;
    width: 300px;
    background-color: #445161;
    color: #fff;
    margin: 0 45px 0 0;
    text-align: center;
}
.buy-item:last-child {
    margin: 0;
}
.buy-item-title {
    display: block;
    font-size: 24px;
    padding: 16px;
    box-sizing: border-box;
}
.buy-item-subtitle {
    display: block;
    padding: 18px;
    background-color: #fff;
    color: #445161;
    font-size: 40px;
    box-sizing: border-box;
}
.buy-list {
    margin: 20px 0 0 0;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    list-style-position: inside;
    text-align: left;
}
.buy-item-list {
    margin: 0 0 10px 0;
    padding: 0;
}
.buy-botton {
    display: block;
    width: 260px;
    margin: 20px auto 0 auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 15px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #fff;
    text-decoration: none;
    color: #445161;
    text-align: center;
    text-transform: uppercase;
}
.buy-botton:hover {
    background-color: #445161;
    color: #fff;
    border: 1px solid #fff;
}
.buy-botton:active {
    background-color: #fff;
    color: #445161;
}
.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 50px 0 0 0;
    background-color: #445161;
    box-sizing: border-box;
}
.contacts-title {
    width: 100%;
    margin: 50px 0 30px 0;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.contacts-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 45px 0 0;
}
.contacts-info input[type="text"],
.contacts-info input[type="email"],
.contacts-info textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #445161;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
    text-transform: capitalize;
}
.contacts-info input[type="text"]:hover,
.contacts-info input[type="email"]:hover,
.contacts-info textarea:hover {
    background-color: #445161;
    color: #fff;
    border-color: #fff;
}
.contacts-info input[type="text"]:hover::placeholder,
.contacts-info input[type="email"]:hover::placeholder,
.contacts-info textarea:hover::placeholder {
    color: #fff;
}
.contacts-info textarea {
    width: 500px;
    height: 170px;
    border: 1px solid #445161;
    border-radius: 5px;
    background-color: #fff;
    outline: none;
}
input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    color: #445161;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.contacts-info input[type="submit"] {
    border-radius: 5px;
    background-color: #fff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    color: #445161;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    outline: none;
}
.contacts-info input[type="submit"]:hover {
    background-color: #445161;
    color: #fff;
}
.contacts-info input[type="submit"]:active {
    background-color: #fff;
    color: #445161;
}
.footer-contacts {
    width: 240px;
    height: 300px;
    color: #fff;
    display: flex;
    display: block;
}
.main-footer-contacts-link {
    display: block;
    margin: 0 0 15px 0;
    padding: 0 0 0 30px;
    position: relative;
    font-size: 16px;
    font-family: "arial";
    line-height: 1.5;
    text-align: left;
}
.main-footer-contacts-link:last-of-type {
    margin: 0 0 32px 0;
}
.main-footer-contacts-link::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1px;
    left: 0;
}
.main-footer-contacts-link:nth-of-type(1):before {
    background-image: url("../img/skaip.png");
    background-color: #445161;
}
.main-footer-contacts-link:nth-of-type(2):before {
    background-image: url("../img/icq.png");
    background-color: #445161;
}
.main-footer-contacts-link:nth-of-type(3):before {
    background-image: url("../img/email.png");
    background-color: #445161;
}
.main-footer-contacts-link:nth-of-type(4):before {
    background-image: url("../img/phone.png");
    background-color: #445161;
}
.main-footer-contacts-link:hover {
    background-color: #fff;
    color: #445161;
}
.main-footer-contacts-net {
    display: block;
    width: 42px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.main-footer-contacts-icons {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.fab {
    color: #445161;
    background-color: #fff;
    text-decoration: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.fab:before {
    display: block;
    text-align: center;
    margin: 5px 0;
}
.fab:hover {
    background-color: #445161;
    color: #fff;
}
.footer-copi {
    width: 100%;
    padding: 15px;
    margin: 50px 0 0 0;
    box-sizing: border-box;
    background-color: #fff;
    text-align: center;
}
